.navbar-brand {
    padding-top: .4125rem;
    padding-bottom: .4125rem;
    margin-left: 50%;
    transform: translateX(-50%);
    span{
       color: orange
    }
}

.navbar {
    padding: 0 1rem !important;
    background: #2f2f2f !important;
    z-index: 9999;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: orange !important;
    font-weight: bold;
    border: 2px solid orange;
    border-radius: 40px;
    padding: .3rem .4rem;
}

.navbar-collapse {
    position: absolute;
    right: 1rem;
}