<div class="inner-body" [ngClass]="{
        'body-opened': showFilter,
        'body-closed': !showFilter,
        'transparent': filter.modes.fullScreen,
        'on-Fullscreen': filter.modes.fullScreen
    }">
    <div class="content-types">
        <ng-content></ng-content>

        <h4>Only show:</h4>
        <div class="options-panel">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="filter.onlyShow.showImages"
                        (click)="setChanges()">
                    Images
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="filter.onlyShow.showGifs"
                        (click)="setChanges()">
                    Gifs
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="filter.onlyShow.showVideos"
                        (click)="setChanges()">
                    Videos
                </label>
            </div>
        </div>
    </div>
    <div class="content-types">
        <h4>Modes:</h4>
        <div class="options-panel">
            <div class="form-check">
                <label class="form-check-label">
                    <!-- Coloquei !filter.modes.fullScreen pois, graças a um bug,
                        sempre que eu buscava pela variável somente em arquivos.ts
                        o valor retornava o inverso -->
                    <input type="checkbox" class="form-check-input" [(ngModel)]="filter.modes.fullScreen" (click)="
                        setChanges();
                        !filter.modes.fullScreen ? openFullscreen() : closeFullscreen();
                        ">Fullscreen
                </label>
            </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="filter.modes.underAgedMode" (click)="setChanges();">
              UnderAged Mode
            </label>
          </div>
        </div>
    </div>
    <div class="button-wrapper">
        <button class="btn expansion-button" (click)="showFilter = !showFilter;"><i class="fa fa-bars"></i></button>
    </div>
</div>
