<!-- IMAGE SHOW CONTROLLER -->
<div id="viewer-body" class="inner-body" [ngClass]="{'full-screen': filter.modes.fullScreen}">
  <app-content-filter>
    <app-display-controller (onNext)="avanca()" (onBack)="retorna()" (onPlay)="play()" [playing]="playing"
                            *ngIf="filter.modes.fullScreen">
    </app-display-controller>
  </app-content-filter>

  <app-display-controller (onNext)="avanca()" (onBack)="retorna()" (onPlay)="play()" [playing]="playing"
                          *ngIf="!filter.modes.fullScreen">
  </app-display-controller>

  <div class="status-button" (click)="showStatusBoard = !showStatusBoard;" *ngIf="!filter.modes.fullScreen">
    <i class="fas fa-chevron-circle-left"
       [ngClass]="{'status-opened ': showStatusBoard, 'status-closed ': !showStatusBoard}"></i>
  </div>

  <div class="cronometro-wrapper" [ngClass]="{
        'fade-out': playCronometroAnimation,
        'hidden': !playCronometroAnimation}">
    <div class="seconds-wrapper">
      <span>{{intervalLoopTime / 1000}}s</span>
    </div>
    <img src="./../../../assets/images/cronometro.svg" alt="">
  </div>

  <app-status-board (close)="showStatusBoard = $event;"
                    [ngClass]="{'status-opened ': showStatusBoard, 'status-closed ': !showStatusBoard}"></app-status-board>

  <div class="censure-panel" *ngIf="filter.modes.underAgedMode">
    <h2>Conteudo Adulto!</h2>
    <img src="https://media.giphy.com/media/QIPEV0HWAiXVm/giphy.gif" alt="">
  </div>

  <div class="img-wrapper" [ngClass]="{'img-fullscreen': filter.modes.fullScreen, 'img-blur': filter.modes.underAgedMode}">
    <div class="censure-block" *ngIf="filter.modes.underAgedMode"></div>
    <img src='{{photos[indexSelected].url}}' [ngClass]="{'d-none': loading}" (error)='removePhoto();'
         (load)="loading = false; setTimer();" *ngIf="photos.length > 0 && photos[indexSelected].url && !needIframe">

    <iframe [src]="photos[indexSelected].url | safe" frameborder="0" scrolling="no" allowfullscreen
            (load)="this.loading = false; this.utilsService.checkIsVideo(photos[indexSelected].url) ? null : setTimer()"
            (error)='removePhoto();' *ngIf="needIframe"></iframe>

    <div class="loader-wrapper" *ngIf="loading;">
      <div class="loader"></div>
    </div>
  </div>
</div>
